/*
*
* Variables
*
*/

:root {
  --main-bkg: #ffffff;

  --body-color: #000000;

  --score-pannel-border: #505050;
  --score-color: #5fc148;
  --hearts-color: #d53e00;
  --key-none-color: #d2d2c8;
  --key-found-color: #ffc800;
  --restart-color: #556dd6;


  --modal-overlay: rgba(0,0,0,0.4);
  --modal-bkg: #ffffff;
  --modal-border: #000000;
  --modal-score-result-text: #5fc148;
  --modal-button: #556dd6;
  --modal-button-hover: #5fc148;
  --modal-button-text: #ffffff;
}


/*
*
* Base Styles
*
*/

html{
  background-color: var(--main-bkg);
}

body {
  margin-top: 20px;
  text-align: center;
  font-family: 'Gaegu', cursive;
  color: var(--body-color);
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}


/*
*
* APP CONTENT WRAPPER
*
*/

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

/*
*
* SCORE PANNEL
*
*/

.game-info{
  width: 101px;
  margin: 0 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.score-panel{
  width: 100%;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border: 2.5px solid var(--score-pannel-border);
  border-radius: 5px;
  padding: 30px 0 0 0;
}

.score-info{
  margin: 0 0 20px 0;
}

.score{
  height: 25px;
  color: var(--score-color);
}

.hearts {
  margin: 0;
  padding: 7px 0 0 0;
  color: var(--hearts-color);
}

.hearts li {
  font-size: 16px;
  list-style: none;
  display: inline-block;
}

.key-icon{
  color: var(--key-none-color);
}

.key.found{
  color: var(--key-found-color);
}

.fa-key{
  font-size: 20px;
  padding: 7px 0 0 0;
}

.avatar{
  position: relative;
  top: -30px;
  height: 100px;
}

.restart{
  position: relative;
  top: -50px;
  margin: 0;
}

.restart-icon{
  color: var(--restart-color);
  padding: 7px 0 0 0;
  font-size: 20px;
}


/*
*
* GAMEBOARD
*
*/


.canvas{
  position: relative;
  top: -50px;
}

/*
* WIN MODAL
*/

.win-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.win-modal-content {
  margin: 40px auto;
  padding: 40px;
  width: 260px;
  background-color: var(--modal-bkg);
  border-radius: 10px;
  border: 5px solid var(--modal-border);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.win-modal-title {
  margin: 0 0 15px 0;
}

.win-image-container{
  width: 100%;
}

.win-image{
  width: 180px;
  margin: 0 auto;
}



/*
* GAME OVER MODAL
*/

.game-over-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
}

.game-over-modal-content {
  margin: 40px auto;
  padding: 40px;
  width: 260px;
  background-color: var(--modal-bkg);
  border-radius: 10px;
  border: 5px solid var(--modal-border);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.game-over-modal-title {
  margin: 0 0 15px 0;
}

.game-over-image-container{
  width: 100%;
  margin: 0 0 10px 0;
}

.game-over-image{
  width: 180px;
  margin: 0 auto;
  padding: 0 10px 0 0;
}

.score-result-container{
  width: 100%;
}

.score-result-title{
  display: inline-block;
  margin: 0 0 20px 0;
}

.score-result{
  margin: 0 0 0 10px;
  display: inline-block;
  padding: 0;
  color: var(--modal-score-result-text);
}


.new-game-button {
  width: 200px;
  height: 50px;
  background-color: var(--modal-button);
  border: 5px solid var(--modal-button);
  color: var(--modal-button-text);
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Gaegu', cursive;
  margin: 10px 0 0 0;
}

.new-game-button:hover,
.new-game-button:focus {
  background-color: var(--modal-button-hover);
  border: 5px solid var(--modal-button-hover);
  cursor: pointer;
}
